// 公共样式
#app {
  width: 100%;
  // min-height: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  font-size: 16px;
  font-family: 'Source Han Sans CN';
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0px;
  color: #000000;

  // 中间模块
  >.middle {
    margin-top: 24px;
    display: flex;
    margin-bottom: 32px;
    justify-content: space-between;
    position: relative;
  }
}

// 版心
.container {
  width: 1200px;
  margin: 0 auto;
}

.comtainer2{
  width: 1864px;
  margin: 0 auto;
}

// 大标题
.b_title {
  height: 73px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

// 更多
.more {
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0px;
  color: #999999;
  cursor: pointer;
}

// 选择更多
.more:hover {
  color: #ff8400;
}

// 加粗——变蓝
.blue_blod {
  font-weight: bold;
  color: #007dee;
}

// 文字颜色蓝
.text_blue {
  color: #007dee;
}

// 文字颜色999
.text_999 {
  color: #999999;
}

// 蓝色横线
.blue_line {
  display: block;
  width: 32px;
  height: 3px;
  background-color: #007dee;
  border-radius: 2px;
}

.visiableT {
  visibility: visible;
}

.visiableF {
  visibility: hidden;
}

.displayNone {
  display: none;
}

// 首页-左侧小导航选中
.choseLeftSnav {
  background-color: #007dee;
  >div {
    span:nth-child(1) {
      background-color: #fff !important;
    }
    span:nth-child(2) {
      color: #fff;
    }
  }
}

// 云上市场详情页-城市导航选中
.choseScityNav{
  background-color: #007dee !important;
  color: #fff;
}

// 云上市场详情页-公司导航选中
.choseScompanyNav{
  background-color: #007dee !important;
  >span{
    color: #fff !important;
  }
}





